.data-table{
  width: 100%;
}

.container{
  max-width: 1200px;
  margin: auto;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  .flex-item{
    margin: 0 16px;
    flex: 1 1 auto;
  }
}

.mat-form-field{
  width: 100%;
}
.mat-raised-button{
  width: 100%;
}
